In [20]:
import numpy as np
import pandas as pd

In [8]:
# 1) print first 5 rows 
# 2) print last 5 rows 
# 3) print dimension -> shape! 
# 4) print general information 
# 5) print description (stats) about the data 
# 6) print number of missing values from the 
# 7) remove duplicate rows from the data
# 8 Sort df on L column -> descending, (indexes are correctly ordered) 

# 10 Group df by column 'F' and calculate the mean & max of column 'H'. # In single step

6

In [ ]:
# 9 Group df by column 'F' and calculate the mean of column 'G'.

In [ ]:
# phone usage india


# 2. Create a new column in the dataset that is the difference # of gaming time from the screen time 
# 3. Find the average data usage per phone brand and OS (in a single step)

In [28]:
ph_dataframe = pd.read_csv('/Users/jagdshlk/Documents/Projects/Masters_AI_ML/ml-playgrounds/notebooks/phone_usage_india.csv')
ph_dataframe.head()

,User ID,Age,Gender,Location,Phone Brand,OS,Screen Time (hrs/day),Data Usage (GB/month),Calls Duration (mins/day),Number of Apps Installed,Social Media Time (hrs/day),E-commerce Spend (INR/month),Streaming Time (hrs/day),Gaming Time (hrs/day),Monthly Recharge Cost (INR),Primary Use
0,U00001,53,Male,Mumbai,Vivo,Android,3.7,23.9,37.9,104,3.9,469,5.2,4.1,803,Education
1,U00002,60,Other,Delhi,Realme,iOS,9.2,28.1,13.7,169,2.8,4997,5.1,0.4,1526,Gaming
2,U00003,37,Female,Ahmedabad,Nokia,Android,4.5,12.3,66.8,96,3.0,2381,1.7,2.9,1619,Entertainment
3,U00004,32,Male,Pune,Samsung,Android,11.0,25.6,156.2,146,5.2,1185,3.2,0.3,1560,Entertainment
4,U00005,16,Male,Mumbai,Xiaomi,iOS,2.2,2.5,236.2,86,5.5,106,3.4,2.3,742,Social Media

In [36]:
# 1. Find users who spend more than 8 hours on the screen daily # but have less than 500 INR of e-commerce spend
ph_dataframe.query('Screen Time (hrs/day) > 10')

SyntaxError: invalid syntax (<unknown>, line 1)

In [40]:
print(ord('A'))

65